<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title>Arrears</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" , content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/images/icon.png}" rel="shortcut icon">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>